<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jp.dataxeed.pm.mapper.OrderMapper">

    <!--全取得-->
    <select id="findAll" resultType="com.jp.dataxeed.pm.entity.OrderProductsEntity">
        SELECT * FROM orders
    </select>

    <!--単体取得-->
    <select id="findById" parameterType="int" resultType="com.jp.dataxeed.pm.entity.OrderProductsEntity">
        SELECT * FROM orders WHERE id = #{id}
    </select>

    <!--追加-->
    <insert id="insertOrder" parameterType="com.jp.dataxeed.pm.entity.OrderProductsEntity" useGeneratedKeys="true" keyProperty="id"> 
        INSERT INTO orders (order_code, party_id, tracking_number, admin_note, warehouse_worker_note, quality_inspector_note, warehouse_worker_id, quality_inspector_id, situation, temporary_holding_area_id)
        VALUES (#{order_code}, #{partyId}, #{trackingNumber}, #{adminNote}, #{warehouseWorkerNote}, #{qualityInspectorNote}, #{warehouseWorkerId}, #{qualityInspectorId}, #{situation}, #{temporaryHoldingAreaId})
    </insert>

    <!--更新-->
    <!--注意→あとでorder_codeを再度設定する動きをServiceで作る-->
    <update id="updateOrderById" parameterType="com.jp.dataxeed.pm.entity.OrderProductsEntity">
        UPDATE orders SET order_code = #{orderCode},
                          party_id = #{partyId},
                          tracking_number = #{trackingNumber},
                          admin_note = #{adminNote},
                          warehouse_worker_note = #{warehouseWorlerNote},
                          quality_inspector_note = #{qualityInspectorNote},
                          situation = #{situation},
                          temporary_holding_area_id = #{temporaryHoldingAreaId}
                          updated_at = CURRENT_TIMESTAMP
                      WHERE id = #{id}
    </update>

    <!--削除-->
    <delete id="deleteOrderById" parameterType="int">
        DELETE FROM orders WHERE id = #{id}
    </delete>

</mapper>
