<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jp.dataxeed.pm.mapper.ProductMapper">

    <!--全取得-->
    <select id="findAll" resultType="com.jp.dataxeed.pm.entity.ProductEntity">
        SELECT * FROM products
    </select>

    <!--単体取得-->
    <select id="findById" parameterType="int" resultType="com.jp.dataxeed.pm.entity.ProductEntity">
        SELECT * FROM products WHERE id = #{id}
    </select>

    <!--追加-->
    <insert id="insertProduct" parameterType="com.jp.dataxeed.pm.entity.ProductEntity" useGeneratedKeys="true" keyProperty="id"> 
        INSERT INTO products (product_code, name)
        VALUES (#{productCode}, #{name})
    </insert>

    <!--更新-->
    <update id="updateProductById" parameterType="com.jp.dataxeed.pm.entity.ProductEntity">
        UPDATE products SET product_code = #{productCode},
                            name = #{name},
                            updated_at = CURRENT_TIMESTAMP
                     WHERE id = #{id}
    </update>

    <!--理論削除-->
    <update id="deleteProductLogical" parameterType="int">
        UPDATE products SET delete_flag = TRUE,
                         updated_at = CURRENT_TIMESTAMP
                     WHERE id = #{id}
    </update>

</mapper>
