<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jp.dataxeed.pm.mapper.StorageAreaMapper">

    <!--全取得-->
    <select id="findAll" resultType="com.jp.dataxeed.pm.entity.StorageAreaEntity">
        SELECT * FROM storage_areas
    </select>

    <!--単体取得-->
    <select id="findById" parameterType="int" resultType="com.jp.dataxeed.pm.entity.StorageAreaEntity">
        SELECT * FROM storage_areas WHERE id = #{id}
    </select>

    <!--追加-->
    <insert id="insertStorageArea" parameterType="com.jp.dataxeed.pm.entity.StorageAreaEntity" useGeneratedKeys="true" keyProperty="id"> 
        INSERT INTO storage_areas (name)
        VALUES (#{name})
    </insert>

    <!--更新-->
    <update id="updateStorageAreaById" parameterType="com.jp.dataxeed.pm.entity.StorageAreaEntity">
        UPDATE storage_areas SET name = #{name},
                                 updated_at = CURRENT_TIMESTAMP
                             WHERE id = #{id}
    </update>

    <!--理論削除-->
    <update id="deleteStorageAreaLogical" parameterType="int">
        UPDATE storage_areas SET delete_flag = TRUE,
                         updated_at = CURRENT_TIMESTAMP
                     WHERE id = #{id}
    </update>

</mapper>
