<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>ホーム</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="home-page">
    <div class="menu-container">
        <form action="/home" method="get" 
              th:class="'menu-form' + (${currentUri.startsWith('/home')} ? ' active' : '')">
            <button class="menu-button">トップ</button>
        </form>
        <form action="/sarchOrder" method="get" 
              th:class="'menu-form' + (${currentUri.startsWith('/sarchOrder')} ? ' active' : '')">
            <button class="menu-button">入出庫検索</button>
        </form>
        <form action="/in" method="get" 
              th:class="'menu-form' + (${currentUri.startsWith('/in')} ? ' active' : '')">
            <button class="menu-button">+入庫</button>
        </form>
        <form action="/out" method="get" 
              th:class="'menu-form' + (${currentUri.startsWith('/out')} ? ' active' : '')">
            <button class="menu-button">-出庫</button>
        </form>
        <form action="/csv" method="get" 
              th:class="'menu-form' + (${currentUri.startsWith('/csv')} ? ' active' : '')">
            <button class="menu-button">予定一括登録</button>
        </form>
        <form action="/stock" method="get" 
              th:class="'menu-form' + (${currentUri.startsWith('/stock')} ? ' active' : '')">
            <button class="menu-button">在庫状況一覧</button>
        </form>
        <form action="/parties" method="get" 
              th:class="'menu-form' + (${currentUri.startsWith('/parties')} ? ' active' : '')">
            <button class="menu-button">発送先管理</button>
        </form>
        <form action="/products" method="get" 
              th:class="'menu-form' + (${currentUri.startsWith('/products')} ? ' active' : '')">
            <button class="menu-button">製品管理</button>
        </form>
        <form action="/user/users" method="get" 
              th:class="'menu-form' + (${currentUri.startsWith('/users')} ? ' active' : '')">
            <button class="menu-button">ユーザー管理</button>
        </form>
    </div>
</body>
</html>
